:root {
	--spacing: 3rem;
	--color-secondary: #AEAEAE;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #E2DDFF;
	color: var(--color-secondary);
}

img {
    max-width: 100%;
    max-height: 100%;
}

.card {
	border-radius: var(--spacing);
	background-color: #fff;
	box-shadow: 2rem 1.5rem 4rem rgba(54, 48, 116, 0.3);
}

button {
	width: 2rem;
	height: 2rem;
	padding: 0.5rem;
	border-radius: 60%;
	border: none;
	background-color: #fff;
}

/******
 ALBUM
******/

#album {
	height: 25rem;
	width: 43rem;
	display: flex;
	padding: var(--spacing);
}

#info {
	margin-left: var(--spacing);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#song_name {
	color: #86748D;
}

#artist, #album_name {
	color: #BEB7C0;
}

#user_functions {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 1rem;
}

/*******
 Player
*******/

#player {
	max-width: 55rem;
	max-height: 20rem;
}

.player-container {
	padding: var(--spacing);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.controls {
	display:flex;
	justify-content: space-between;
	width: 60%;
}

#play-pause {
	height: 4rem;
	width: 4rem;
}

#forward, #backward {
	height: 2.5rem;
	width: 2.5rem;
}

.controls__mid {
	position: relative;
	top: -1rem;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 1rem;
	place-items: center;

}

.controls__mid button {
	background: linear-gradient(159.16deg, #917CE4 26.46%, rgba(63, 45, 137, 0) 116.55%);
}

.controls__left, .controls__right {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 1rem;
}


/******
 Seek
******/
.seek {
	margin: 2rem 0 1rem 0;
	width: 70%;
}

#slider {
	width: 100%;
	appearance: none;
	background: hsla(248, 11%, 88%, 1);
	height:0.5rem;
	border-radius: 1rem;
}

/*For Webkit*/
#slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	height: 1.5rem;
	width: 1.5rem;
	border: #fff .3rem solid;
	border-radius: 50%;
	background: linear-gradient(rgba(93, 36, 214, 1), rgba(126, 116, 237, 1));
	cursor: pointer;
}

/*For Mozilla*/
#slider::-moz-range-thumb {
	appearance: none;
	height: 1rem;
	width: 1rem;
	border: #fff .25rem solid;
	border-radius: 50%;
	background: linear-gradient(rgba(93, 36, 214, 1), rgba(126, 116, 237, 1));
	cursor: pointer;
}

#slider::-moz-range-progress {
	border-radius: 1rem;
	height: 100%;
	background: linear-gradient(hsla(259, 71%, 49%, 1), hsla(245, 77%, 69%, 1));
}

/*Time Below Seek*/
.timestamps {
	display: flex;
	justify-content: space-between;
}
