:root {
	--spacing: 3rem;
	--color-secondary: #AEAEAE;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #E2DDFF;
	color: var(--color-secondary);
}

img {
	max-width: 100%;
}

.card {
	border-radius: var(--spacing);
	background-color: #fff;
	box-shadow: 2rem 1.5rem 4rem rgba(54, 48, 116, 0.3);
}

button {
	width: 2rem;
	height: 2rem;
	padding: 0.5rem;
	border-radius: 60%;
	border: none;
	background-color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
}

.btn-wrapper {
	padding: 0.75rem;
	border-radius: 50%;
	background: #F8F8F8;
	box-shadow:
		-5px -5px 10px #fff,
		inset 5px 5px 10px rgba(0,0,0, 0.05),
		5px 5px 15px rgba(0,0,0, 0.1),
		inset -10px -10px 30px #fff;
}

.album_art_wrapper {
	padding: 1rem;
	border-radius: 10%;
	background: #F8F8F8;
	box-shadow:
		9px 9px 18px rgba(0, 0, 0, 0.05),
		-10px -10px 15px #FFFFFF,
		inset 10px 10px 10px rgba(0, 0, 0, 0.05),
		inset -10px -10px 20px #FFFFFF;

}

#album_art {
	height: 17rem;
	filter: drop-shadow(4px 4px 4px #806B8C);
}

/******
 ALBUM
******/

#album {
	height: 25rem;
	width: 43rem;
	color: #F7F7F7;
	display: flex;
	padding: var(--spacing);
}

#info {
	margin-left: var(--spacing);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#song_name {
	color: #86748D;
}

#artist, #album_name {
	color: #BEB7C0;
}

#user_functions {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 1rem;
}

#user_functions button {
	background: #F8F8F8;
	box-shadow:
		9px 9px 18px rgba(0, 0, 0, 0.05),
		-10px -10px 15px #FFFFFF,
		inset 10px 10px 10px rgba(0, 0, 0, 0.05),
		inset -10px -10px 20px #FFFFFF;
}

/*******
 Player
*******/

.btn-shadow {
	background: linear-gradient(159.16deg, #917CE4 26.46%, rgba(63, 45, 137, 0.5) 116.55%);
	box-shadow: inset 10px 10px 15px rgba(255, 255, 255, 0.2);
	filter: drop-shadow(4px 6px 4px rgba(145, 124, 228, 1));
}

#player {
	max-width: 55rem;
	max-height: 20rem;
}

.player-container {
	padding: var(--spacing);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.controls {
	display:flex;
	justify-content: space-between;
	width: 60%;
}

#play-pause {
	height: 4rem;
	width: 4rem;
}

#forward, #backward {
	height: 2.5rem;
	width: 2.5rem;
}

.controls__mid {
	position: relative;
	top: -1rem;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 1rem;
	place-items: center;

}

.controls__left, .controls__right {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 1rem;
}


/******
 Seek
******/
.seek {
	margin: 2rem 0 1rem 0;
	width: 70%;
}

#slider {
	width: 100%;
	appearance: none;
	background: hsla(248, 11%, 88%, 1);
	height:0.5rem;
	border: 0.5rem;
	border-radius: 1rem;
}

/*For Webkit*/
#slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	height: 1.7rem;
	width: 1.7rem;
	border: #fff .3rem solid;
	border-radius: 50%;
	cursor: pointer;
	background: linear-gradient(327.56deg, #5D24D6 19.23%, #7E74ED 81.76%);
	box-shadow:
		0px 0.5rem 0.5rem rgba(0, 0, 0, 0.15);
}

/*For Mozilla*/
#slider::-moz-range-thumb {
	height: 1rem;
	width: 1rem;
	border: #fff .3rem solid;
	border-radius: 50%;
	cursor: pointer;
	background: linear-gradient(327.56deg, #5D24D6 19.23%, #7E74ED 81.76%);
	box-shadow:
		0px .75rem .75rem rgba(0, 0, 0, 0.15);
}

#slider::-moz-range-progress {
	border-radius: 1rem;
	height: 100%;
	background: linear-gradient(hsla(259, 71%, 49%, 1), hsla(245, 77%, 69%, 1));
}

/*Time Below Seek*/
.timestamps {
	margin-top: 1rem;
	display: flex;
	justify-content: space-between;
}

